html
    head
        title= title
    style
        include style.css
    body
        if username
            h1 Hello, #{username}!
        ul 
            unless username
                li
                    a(href='/login') login
            if username
                li
                    a(href='/logout') logout

        h1= message
        img(src="https://i.pinimg.com/originals/b6/b9/94/b6b9947e30d6f9db45f497ef6561c2bc.jpg")
        h1="Meme list"
        ul
            each meme in memes
                li
                    if username
                        a(href="meme/" + meme.id) #{meme.name}
                    unless username
                        a #{meme.name}
                    p Price #{meme.getCurrentPrice()} 
                    img(src=meme.url)